{% extends 'base.html' %}

{% block title %} Войти {% endblock %}

{% block content %}
    <div style="height: 300px; margin-top: 20px;">
        <h4>Войдите</h4>
        <form method="POST" action="/login/">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Enter your login"><br>

            <label for="password">Password</label>
            <input type="password" name="password" id="password"><br>

            <input type="submit" value="Submit"><br>
        </form>
    </div>

{% endblock %}